body, html {
  height: 100%;
}

* {
  box-sizing: border-box;
}

.bg-img2 {
  background-image: url("other_bag.jpg");
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;
  filter: blur(8px);
  -webkit-filter: blur(8px);
  height: 100%;
}

.content {
  font-weight: bold;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  width: 80%;
  padding: 20px;
}
